body {
    font-family: Arial, sans-serif;
    font-size: 10pt;  /* Uniform font size */
    margin: 0;
    padding: 0;
    overflow: auto;
    background-color: #e0e0e0;  /* Uniform background color */
}

.sidebar, .mini-sidebar {
    background-color: rgb(30, 128, 133);  /* Custom green color */
    color: white;
    overflow-x: hidden;
    overflow-y: auto;  /* Allow vertical scrolling */
    transition: width 0.3s;
    display: flex;
    flex-direction: column;
    border-right: 1px solid #4b4b4b;  /* Border */
    height: 100%;
}

.sidebar {
    width: 16.67%;
    position: fixed;
    top: 0;
    left: 0;
    padding-top: 20px;  /* Reduced top padding */
}

.sidebar.closed {
    width: 5%;
}

.mini-sidebar {
    width: 5%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;  /* Align elements vertically */
    align-items: center;     /* Center elements horizontally */
    padding-top: 20px;  /* Reduced top padding */
    display: none;  /* Initially hidden */
}

.sidebar .menu-content, .mini-sidebar .menu-content {
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;  /* Center the content horizontally */
}

.sidebar-header, .mini-sidebar-header {
    display: flex;
    flex-direction: column;  /* Ensure vertical alignment */
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
    height: 150px;           /* Fixed height for vertical centering */
    padding: 0 10px;         /* Add some padding to prevent the image from touching the edges */
}

.sidebar-header img, .mini-sidebar-header img {
    max-height: 100%;        /* Adjust the maximum height of the image */
    max-width: 100%;         /* Maintain proportions */
    object-fit: contain;     /* Resize the image while maintaining proportions */
}

.sidebar .bi {
    font-size: 2em;  /* Set icon size */
}

.mini-sidebar .bi {
    font-size: 2em;  /* Increase icon size */
}

.open-btn {
    background-color: rgb(30, 128, 133);
    color: white;
    border: none;
    cursor: pointer;
    padding: 5px;
    text-align: center;
    display: block;
    margin: 0 auto;
    margin-bottom: 10px;
}

.user-info, .user-info-mini {
    padding: 1px;
    border-top: 1px solid #4b4b4b;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;  /* Push the user info to the bottom */
}

.user-info .dropdown-toggle, .user-info-mini .dropdown-toggle {
    color: white;
}

.box-container {
    background-color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 10px;  /* Space between boxes */
    width: 100%;  /* Ensure full width */
    height: 100%;  /* Ensure full height */
    display: flex;  /* Use flex to ensure it can grow */
    flex-direction: column;  /* Column layout for content */
}

.main-content.collapsed {
    margin-left: 5%;
    width: 95%;
}

.table-responsive {
    width: 100%;
    height: 100%;
    overflow: auto;  /* Allow table content to scroll */
}

/* Style for "Dernière MAJ" and "Refresh Data" */
.menu-content .alert-info, .menu-content .btn-info {
    background-color: white;
    border-color: white;
    color: rgb(30, 128, 133);
    border-radius: 30px;
    text-align: center;
    padding: 10px 15px;
    width: 90%;  /* Increase the width */
    margin-bottom: 10px;  /* Add spacing between elements */
    margin-top: auto;
}

.menu-content .alert-info:hover, .menu-content .btn-info:hover {
    background-color: rgba(255, 255, 255, 0.8);
    border-color: rgba(255, 255, 255, 0.8);
}

/* Nav link pills style */
.nav-link {
    background-color: transparent;
    color: white;
    border-radius: 0;
    margin-bottom: 10px;
    text-align: center;
    padding: 10px 15px;
    width: 100%;
}

.nav-link.active {
    background-color: white;
    color: rgb(30, 128, 133);
}

/* Hover effect */
.nav-link:hover {
    background-color: rgba(255, 255, 255, 0.2);
    color: white;
}

/* Modal customization */
.modal-content {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    text-align: center;
}

.modal-header {
    border-bottom: none;
}

.modal-footer {
    border-top: none;
    justify-content: center;
}

.spinner-border {
    margin-bottom: 20px;
}

.main-content {
    margin-left: 16.67%;  /* Adjust according to the width of your sidebar */
    margin-top: 0;
    transition: margin-left 0.3s, width 0.3s;
    padding: 20px;
    width: 83.33%;  /* Adjust the width to fit the content area */
    background-color: #e0e0e0;  /* Uniform background color */
    box-sizing: border-box;
    overflow: auto;  /* Enable scrolling */
    position: relative;
}

/* Cytoscape specific styling */
.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.cy-container {
    flex: 1;
    position: relative;
}

.cytoscape {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 999;
}

/* Media queries for responsive design */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    .main-content {
        margin-left: 0;
        width: 100%;
    }

    .sidebar.closed {
        display: none;
    }

    .mini-sidebar {
        display: flex;
        width: 100%;
        height: auto;
    }
}
